# Chapter 11: Time Series

Before starting let's get to know some Time Series vocabulary:

- Timestamp: An exact moment in time
- fixed-frequency Time Series
- Intervals of time: Time between two timestamps
- Periods of time: A specific interval
- Experiment or elapsed time: Time counted after a specific moment (experiment)

## 11.1 Using date and time types and tools

Using the modules *datetime,time,calendar* will be key tools when working with data and time data.

From the datetime module we import the datetime object

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
jd_birthday=datetime(1998,10,1)
now=datetime.now()

In [7]:
jd_birthday.year

1998

The other object used is *timedelta*

In [8]:
now-jd_birthday

datetime.timedelta(days=9148, seconds=42645, microseconds=281028)

In [9]:
from datetime import timedelta

In [10]:
now+timedelta(12)

datetime.datetime(2023, 10, 30, 11, 50, 45, 281028)

All data types are: *date,time,datetime,timedelta,tzinfo*

**Converting between strings and datetime**