In [1]:
strings = ["a", "as", "bat", "car", "dove", "python"]

In [5]:
unique_lenghts=set(map(len,strings))
print(unique_lenghts)

{1, 2, 3, 4, 6}

In [6]:
strings_positions={k:v for k,v in enumerate(strings)}
print(strings_positions)

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [11]:
def square_volume(x,y,z=1):
    volume=x*y*z
    return volume

In [9]:
square_volume(2,2,2)

8

In [12]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [15]:
strings.sort(key=lambda word:len(set(word)))
print(strings)

['aaaa', 'foo', 'abab', 'bar', 'card']

In [1]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],["Maria", "Juan", "Javier", "Natalia", "Pilar"]]
names_2a=[name for l in all_data for name in l if name.count("a")>1]

In [2]:
names_2a

['Maria', 'Natalia']